html {
  box-sizing: border-box;
  font-size: 100%; }

body {
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

.row {
  width: 100%; }

.row::before, .row::after {
  content: " ";
  display: table;
  clear: both; }

[class^="col-"] {
  display: block;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #000;
  height: 100px; }

.col-sm-1 {
  width: 8.33333%; }

.col-sm-2 {
  width: 16.66667%; }

.col-sm-3 {
  width: 25%; }

.col-sm-4 {
  width: 33.33333%; }

.col-sm-5 {
  width: 41.66667%; }

.col-sm-6 {
  width: 50%; }

.col-sm-7 {
  width: 58.33333%; }

.col-sm-8 {
  width: 66.66667%; }

.col-sm-9 {
  width: 75%; }

.col-sm-10 {
  width: 83.33333%; }

.col-sm-11 {
  width: 91.66667%; }

.col-sm-12 {
  width: 100%; }

.col-sm-x10 {
  width: 10%; }

.col-sm-x20 {
  width: 20%; }

.col-sm-x30 {
  width: 30%; }

.col-sm-x40 {
  width: 40%; }

.col-sm-x50 {
  width: 50%; }

.col-sm-x60 {
  width: 60%; }

.col-sm-x70 {
  width: 70%; }

.col-sm-x80 {
  width: 80%; }

.col-sm-x90 {
  width: 90%; }

.col-sm-x100 {
  width: 100%; }

@media print, screen and (min-width: 40em) {
  .col-md-1 {
    width: 8.33333%; }
  .col-md-2 {
    width: 16.66667%; }
  .col-md-3 {
    width: 25%; }
  .col-md-4 {
    width: 33.33333%; }
  .col-md-5 {
    width: 41.66667%; }
  .col-md-6 {
    width: 50%; }
  .col-md-7 {
    width: 58.33333%; }
  .col-md-8 {
    width: 66.66667%; }
  .col-md-9 {
    width: 75%; }
  .col-md-10 {
    width: 83.33333%; }
  .col-md-11 {
    width: 91.66667%; }
  .col-md-12 {
    width: 100%; }
  .col-md-x10 {
    width: 10%; }
  .col-md-x20 {
    width: 20%; }
  .col-md-x30 {
    width: 30%; }
  .col-md-x40 {
    width: 40%; }
  .col-md-x50 {
    width: 50%; }
  .col-md-x60 {
    width: 60%; }
  .col-md-x70 {
    width: 70%; }
  .col-md-x80 {
    width: 80%; }
  .col-md-x90 {
    width: 90%; }
  .col-md-x100 {
    width: 100%; } }

@media print, screen and (min-width: 64em) {
  .col-lg-1 {
    width: 8.33333%; }
  .col-lg-2 {
    width: 16.66667%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-4 {
    width: 33.33333%; }
  .col-lg-5 {
    width: 41.66667%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-7 {
    width: 58.33333%; }
  .col-lg-8 {
    width: 66.66667%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-10 {
    width: 83.33333%; }
  .col-lg-11 {
    width: 91.66667%; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-x10 {
    width: 10%; }
  .col-lg-x20 {
    width: 20%; }
  .col-lg-x30 {
    width: 30%; }
  .col-lg-x40 {
    width: 40%; }
  .col-lg-x50 {
    width: 50%; }
  .col-lg-x60 {
    width: 60%; }
  .col-lg-x70 {
    width: 70%; }
  .col-lg-x80 {
    width: 80%; }
  .col-lg-x90 {
    width: 90%; }
  .col-lg-x100 {
    width: 100%; } }
